

<main>
    <div class="jumbotron jumbotron-fluid text-center bg-light bg-opacity-25 p-4 my-3">
        <div class="container">
            <h1 class="display-2">Charlie's</h1>
            <p class="lead">Esplora l'autentica cucina americana nel cuore della città</p>
        </div>
    </div>

    <img src="https://www.1950americandiner.it/media/mobile/home-slide-03.jpg" alt="mainpic" style="width:100%; height:35em; object-fit:cover;" class="rounded-3"  />

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card bg-light bg-opacity-25 border-0" style="height:15em">
                    <div class="card-body">
                        <h2 class="card-title">Esplora il nostro menu</h2>
                        <p class="card-text">Dalla classica bistecca alla fiorentina alla succulenta carne affumicata del Sud, il nostro menu offre una vasta gamma di piatti apprezzati in tutto il territorio americano.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card bg-light bg-opacity-25 border-0" style="height:15em">
                    <div class="card-body">
                        <h2 class="card-title">Atmosfera accogliente</h2>
                        <p class="card-text">Il nostro ristorante offre un'atmosfera accogliente e familiare, perfetta per riunioni tra amici e familiari o per una cena romantica. Con il nostro personale cortese e attento, ti assicuriamo un'esperienza gastronomica indimenticabile.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card bg-light bg-opacity-25 border-0" style="height:15em">
                    <div class="card-body">
                        <h2 class="card-title">Eventi speciali</h2>
                        <p class="card-text">Unisciti a noi per i nostri eventi speciali! Organizziamo serate a tema, cene di beneficenza e molto altro ancora. Seguici sui social media e resta aggiornato sugli eventi imminenti.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>